/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/fixtures/app_with_komponent/tmp
/fixtures/app_with_komponent/log
/fixtures/app_with_webpacker/tmp
/fixtures/app_with_webpacker/log
