<h1>Styleguide</h1>

<% if components.any? %>
  <p>Select one of the components from the side to view its examples and documentation.</p>
<% else %>
  <p><<strong>Hint:</strong> You haven't created any component yet</h2>
  <p>You can generate your first component by running:</p>
  <pre>rails generate component component-name</pre>
<% end %>
