<!DOCTYPE html>
<html>
<head>
  <title>Styleguide</title>

  <%#= javascript_pack_tag "komponent/styleguide" %>
  <%#= stylesheet_pack_tag "komponent/styleguide", media: "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%#=c 'komponent/styleguide/header' %>
  <div class="header">
    <div class="logo">STYLEGUIDE</div>
  </div>
  <div class="wrapper">
    <div class="sidebar">
      <h3>COMPONENTS</h3>
      <ul>
        <%- komponent_components.each do |_k, component| %>
          <li>
            <%= link_to_unless_current component.title, styleguide_path(id: component.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%#=c 'komponent/styleguide/container' do %>
    <%= yield %>
  <%# end %>
  <%#=c 'komponent/styleguide/footer' %>
</body>
</html>
